<launch>
    
    <arg name="namespace" default="ardupilot" />
    <arg name="thrust_max" default="10" />
    
    <!-- Node mapping MPC outputs to Ardupilot commands -->
    <node 
    	name="mpc_to_px4_command" 
    	pkg="multirotor_transformations" 
    	type="mpc_to_px4_command_node" 
    	output="screen">
    	
    	<param name="thrust_max" value="$(arg thrust_max)"/>
    </node>
    
</launch>